


.cardx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid teal;
    border-radius: 5px ;
    padding: 1px 5px;
    margin: 20px 10px 20px 0;
}
.cardx img{
    width: 60px;
    height: 60px;
    border-radius: 2px;
}

.card-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:  -5px;
}
.card-left p{
    margin: 5px 0 5px 5px;
}

.meal-name{
    font-weight: 700;
    color: darkblue;
}
.quantity{
    color: darkblue;
    font-weight: 700;
}


.card-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
.card-right span{
    margin: 7px 9px 7px 0;
    cursor: pointer;
    font-weight: 700; 
    font-size: 16px; 
}

.card-right span:hover{
    color: blue;
}