



.meal-card{
    border: 5px solid darkcyan;
    padding: 5px ;
    border-radius: 5px;
}
.meal-card img{
    width: 100%;
}

.meal-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}