



.meal-card{
    border: 3px solid darkcyan;
    padding: 10px ;
    border-radius: 5px;
}
.meal-card img{
    width: 100%;
    border-radius: 5px;
}

.meal-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightsteelblue;
    margin-top: 10px;
    padding: 0 15px;
    border-radius: 5px;
    color: black
}

.meal-body p{
    font-weight: 600;
}
.meal-body h3{
    margin: 0;
}
.meal-body button{
    display: block;
    margin-top: 15px;
    outline: none;
    border: none;
    background-color: darkviolet;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 15px;
}