



.meal-card{
    border: 3px solid darkcyan;
    padding: 10px ;
    border-radius: 5px;
}
.meal-card img{
    width: 100%;
    border-radius: 5px;
}

.meal-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightsteelblue;
    margin-top: 10px;
    padding: 0 15px;
    border-radius: 5px;
    color: black
}

.meal-body p{
    font-weight: 600;
}